github "Alamofire/Alamofire" ~> 4.7
github "SVProgressHUD/SVProgressHUD"
binary "https://ton.twimg.com/syndication/twitterkit/ios/TwitterCore.json" ~> 3.2
binary "https://ton.twimg.com/syndication/twitterkit/ios/TwitterKit.json" ~> 3.4
