github "Alamofire/Alamofire" ~> 4.7
github "SVProgressHUD/SVProgressHUD" ~> 2.2
github "ReactiveX/RxSwift" ~> 4.0
binary "https://ton.twimg.com/syndication/twitterkit/ios/TwitterCore.json" ~> 3.2
binary "https://ton.twimg.com/syndication/twitterkit/ios/TwitterKit.json" ~> 3.4
