github "Moya/Moya" "14.0.0-beta.6"
github "SVProgressHUD/SVProgressHUD" ~> 2.2
binary "https://ton.twimg.com/syndication/twitterkit/ios/TwitterCore.json" ~> 3.2
binary "https://ton.twimg.com/syndication/twitterkit/ios/TwitterKit.json" ~> 3.4
